// Define variables for your color scheme

// For example:
$pink: #F48BDE;
$blue: #C6E5EE;
$green: #C8EA7D;
$white: white;
$yellow: #F4C101;
$black: #000000;
$purple: #C382F5;
$orange: #ED704A;
$light-gray: #D9D9D9;
