
  <div class="row text-center mx-auto" id="#aboutme-nav">
    <div class="hero-text col-lg-6 col">
      <h1>A Full-Stack Web Developer <br> Dedicated to transforming creative ideas into seamless and engaging digital experiences  </h1>
    </div>
    <div class="hero-image col-lg-6 col ">
      <%= image_tag "hero-image.jpeg", class: "mx-auto m-4 d-block", alt:"...", width:"300px" , height:"300px" %>
      <h1>Zeinab Warsama</h1>
      <p class="mb-5">Hi, I'm Zeinab a Full-Stack Web Developer. Having previously found fulfillment as a pharmacist in the NHS, my journey into web development reflects a deep desire for change — a drive to explore new horizons and contribute my skills to the dynamic and innovative world of tech.</p>
    </div>
  </div>
