
  <div class="row" id="#aboutme-nav">
    <div class="hero-text col">
      <h6>A Full-Stack Web Developer Dedicated to transforming creative ideas into seamless and engaging digital experiences  </h6>
    </div>
    <div class="hero-image col">
      <p>
        Hi, Im Zeinab a full-stack web developer. Having previously found fulfillment as a pharmacist in the NHS, my journey into web development reflects  a deep desire for change—a drive to explore new horizons and contribute my skills to the dynamic and innovative world of tech.
      </p>
    </div>
  </div>
