<div>
  <div class="footer row">
      <div class="col-12 col-lg-4">
        <h1>Linkedin </h1>
      <div>
      <div class="col-12 col-lg-4">
        <h1>Email</h1>
      <div>
      <div class="col-12 col-lg-4">
        <h1>Github</h1>
      <div>
  </div>
</div>
