<!-- Button trigger modal -->
<button type="button" class="btn-project btn-warning rounded-5" data-bs-toggle="modal" data-bs-target="#exampleModal3">
  <%= image_tag "arrow.jpeg", class: "arrow-project", alt:"..." %>
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row modal-body">
        <div class="col-12 col-lg-6 ">
          <h1 class="modal-title" id="exampleModalLabel">F1: Beyond the Grid</h1>
          <p>Dive into the heart of the racing action with real-time data straight from the track.</p>
          <p>Formula 1 project that uses API to bring you real-time updates on races, results, driver standings and constructors standings.</p>
          <h6>Features:</h6>
          <p>Real-time status:</p>
          <ul>
            <li>Last race results</li>
            <li>Current driver standing</li>
            <li>Current team standing</li>
            <li>Race Schedule</li>
          </ul>
          <p>Tech Stack: React , Javascript , APIs</p>

        </div>
        <div class="col-12 col-lg-6">
        <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/929918921?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="F1: beyond the grid"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          <br>
          <%= link_to 'Github -> View Code','https://github.com/zeinaaabbb/formula1-api-proj', target: '_blank', class:"project-code-link" %>
          <br>
          <%= link_to 'Project -> View current F1 results','https://formula1-api-proj.vercel.app/', target: '_blank', class:"project-code-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
