<!-- Button trigger modal -->
<button type="button" class="btn-project btn-warning rounded-5" data-bs-toggle="modal" data-bs-target="#exampleModal1">
  <%= image_tag "arrow.jpeg", class: "arrow-project", alt:"..." %>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row modal-body">
        <div class="col-12 col-lg-6">
          <h1 class="modal-title" id="exampleModalLabel">League-All</h1>
          <p>League-all is a platform which streamlines women’s grassroots football league management for both organisers and teams.
          <p>It aims to solve inefficiency in the organisation of football leagues.</p>
          <h6>Features:</h6>
          <ul>
            <li>Ability to search for leagues and teams </li>
            <li>Ability to add new leagues and teams and to bookmark them </li>
            <li>A dashboard that displays all the information users need at a glance </li>
            <li>Ability to find leagues and teams within a given location </li>
            <li>Ability to create game fixtures with ease </li>
            <li>Ability to manage new team registration</li>
            <li>Ability for teams to join leagues </li>
            <li>Ability for team coach to manage new player registration </li>
            <li>Ability to view the current league standings</li>
            <li>Ability for an organiser to send notifications to league teams</li>
            <li>Ability for players/ to communicate using a group messaging channel</li>
          </ul>
          <p>Tech Stack: Ruby on Rails , Ruby, Javascript, SASS, HTML , CSS, Bootstrap, Stimulus.js, Postgresql</p>
          <ul class="project-details">
            <li><h6>Duration: 2 week </h6></li>
            <li><h6>Team size: 4 people </h6></li>
          </ul>
        </div>
        <div class="col-12 col-lg-6">
          <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/911522763?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="League-All Demo"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          <br>
          <%= link_to 'Github -> View Code','https://github.com/zeinaaabbb/League-all', target: '_blank', class:"project-code-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
