<div class="row justify-content-around navbar">
    <div class="col-12 col-lg-4">
      <ul>
      <li><button id="aboutme">About Me</button></li>
      <li><button id="skills">Skills</button></li>
      <li><button id="project">Projects</button></li>
      <li><button id="connect">Connect</button></li>
    </ul>
    </div>
</div>


<div class="row justify-content-around navbar">
  <a class="aboutme" href="#About Me">About Me</a>
  <a href="#skills" id="skills">Skills</a>
  <a href="#project" id="project" >Projects</a>
  <a href="#connect" id="connect">Connect</a>
</div>
