    <nav>
      <div class="left-links">
        <a class="links selected"  href="#" id="aboutme">About Me</a>
        <a class="links" href="#" id="skills">Skills</a>
        <a class="links" href="#"id="project" >Projects</a>
      </div>
      <div class="right-links">
        <a class="links" href="#"id="connect">Connect</a>
      </div>
    </nav>
