<div class="row justify-content-around navbar">
    <div class="col-12 col-lg-4">
      <ul>
      <li><button id="aboutme">About Me</button></li>
      <li><button id="skills">Skills</button></li>
      <li><button id="project">Projects</button></li>
    </ul>
    </div>
    <div class="col-12 col-lg-4">
      <ul>
        <li><button id="connect">Connect</button></li>
      </ul>
    </div>
</div>
