    <nav>
      <div class="left-links">
        <%= link_to "About Me", "#about-section", id: "aboutme", class:"links" %>
        <%= link_to "skills", "#skills-section", id: "skills", class:"links" %>
        <%= link_to "Projects", "#project-section", id: "project", class:"links" %>
      </div>
      <div class="right-links">
        <%= link_to "Connect", "#connect-section", id: "connect", class:"links" %>
      </div>
    </nav>
