<div class="navbar">
  <div class="container-content">
    <ul>
      <li><a href="#">About Me</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Pojects</a></li>
      <li><a href="#">Connect</a></li>
    </ul>
  </div>
</div>
