<div id="project-section" class="container-projects">
  <h1>My Latest Projects</h1>
  <div class="projects row">
    <div class="col-12 col-lg-6">
      <%= render partial: "pages/project_card_la" %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render partial: "pages/project_card_vb" %>
    </div>
  </div>
</div>
