<div id="#project-nav" class="container-projects">
  <h2>My Latest Projects</h2>
  <div class="projects row">
    <div class="col-12 col-lg-6">
      <%= render "project_card_la" %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render "project_card_vb" %>
    </div>
  </div>
</div>
