<div id="projects" class="container-projects">
  <h2>My latest Projects</h2>
  <div class="projects row">
    <div class="col-12 col-lg-6">
      <%= render "project_card_1" %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render "project_card_2" %>
    </div>
  </div>
</div>
