<div class="row skills" id="skills-section">
  <div class="row-top skill-row d-flex justify-content-around">
      <button id="RubyRail">Rails</button>
      <button id="Javascript">Javascript</button>
      <button id="Ruby">Ruby</button>
      <button id="React">React</button>
      <button id="CSS">CSS</button>
      <button id="Html">HTML</button>
      <button id="sass">SASS</button>
  </div>

  <div class="row-bottom skill-row d-flex justify-content-around">
      <button id="figma">Figma</button>
      <button id="stimulus">Stimulus.js</button>
      <button id="postgresql">Postgresql</button>
      <button id="sql">SQL</button>
      <button id="ajax">AJAX</button>
      <button id="bootstrap">Bootstrap</button>
  </div>
</div>
