<div class="skills" id="skills-nav">
  <div class="row row-top skill-row justify-content-around">
      <div class="col-1" id="RubyRail"><button>Rails</button></div>
      <div class="col-1" id="Javascript"><button>Javascript</button></div>
      <div class="col-1" id="Ruby"><button>Ruby</button></div>
      <div class="col-1" id="React"><button>React</button></div>
      <div class="col-1" id="CSS"><button>CSS</button></div>
      <div class="col-1" id="Html"><button>HTML</button></div>
      <div class="col-1" id="sass"><button>SASS</button></div>
  </div>

  <div class="row row-bottom skill-row justify-content-around">
      <div class="col-1" id="figma"><button>Figma</button></div>
      <div class="col-1" id="stimulus"><button>Stimulus.js</button></div>
      <div class="col-1" id="postgresql"><button>Postgresql</button></div>
      <div class="col-1" id="sql"><button>SQL</button></div>
      <div class="col-1" id="ajax"><button>AJAX</button></div>
      <div class="col-1" id="bootstrap"><button>Bootstrap</button></div>
  </div>
</div>
