#connect-nav{
  margin: 10px auto;
}
.social-link{
  color: black;
  text-decoration: none;
}

button {
  margin: auto 10px ;
}

.arrow-footer{
  width: 20px;
  height: 20px;
}


#linkedin{
  background-color: #F48BDE;
}

#email {
  background-color: #C6E5EE;
}

#github {
  background-color: #CEF576;
}

.social-link:hover{
  text-decoration: solid;
}
