body {
  max-width: 100%;
  max-height: fit-content;
  overflow-x: hidden;
  margin: 0 ;
}

.hero-text {
  border: 2px solid #000;
  background: #F48BDE;

}

.hero-text h1 {
  margin: 175px 50px;
}

.hero-image {
  border: 2px solid #000;
  background: #D9D9D9;
}

h6 {
  font-weight: 400;
  text-transform: capitalize;
}
