.skills {
  background-color: #F4C101;
  border-bottom: black 2px solid;
}

button {
  border-style: solid;
  border: black;
  border: 2px;
  border-radius: 50px;
  // width: 120px;
  // height: 40px;
  // margin: 4px;
}

#RubyRail button {
  background-color: #ED704A ;
}
#Javascript button{
  background-color: #FFC900 ;
}
#Ruby button {
  background-color: #CEF576;
}

#CSS button{
  background-color: #C6E5EE ;
}
#Html button{
  background-color: #FFC900 ;
}
#sass button{
  background-color: #FE88C7;
}

#figma button {
  background-color: #FFFFFF;
}
#stimulus button {
  background-color: #C382F5;
}
#tgresql button {
  background-color: #ED704A  ;
}
#sql button {
  background-color: #FFFFFF;
  ;
}
#ajax button {
  background-color: #C8EA7D;
}
