.skills {
  padding: 10px 10px;
  background-color: #F4C101;
  border: 2px solid #000
}

.row-top{
  padding-bottom: 5px;
}

button {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px 10px;
  min-width: 100px;
  max-width: 100px;
}

#react button {
  background-color: #C8EA7D;
}
#RubyRail button {
  background-color: #ED704A ;
}
#Javascript button{
  background-color: #FFC900 ;
}
#Ruby button {
  background-color: #CEF576;
}
#CSS button{
  background-color: #C6E5EE ;
}
#Html button{
  background-color: #FFC900 ;
}
#sass button{
  background-color: #FE88C7;
}
#figma button {
  background-color: #FFFFFF;
}
#stimulus button {
  background-color: #C382F5;
}
#postgresql button {
  background-color: #ED704A  ;
}
#sql button {
  background-color: #FE88C7;
}
#ajax button {
  background-color: #C8EA7D;
}

#bootstrap button {
  background-color: #C382F5;
}
